.EditorWithPreview__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-color);
}
.EditorWithPreview__Body {
  display: flex;
  justify-content: stretch;
  margin: 0 1rem;
}
@media (max-width: 480px)  {
  .EditorWithPreview__Body {
    flex-direction: column;
  }
}
.EditorWithPreview__Header {
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  margin: 1rem;
  padding: .5rem;
}
.EditorWithPreview__Header button {
  appearance: none;
  outline: none;
  border: 0;
  border-radius: var(--border-radius-md);
  background-color: transparent;
  color: var(--content-color);
  padding: 6px;
  padding-bottom: 4px;
  margin-right: 1rem;
  cursor: pointer;
}
.EditorWithPreview__Header button:hover {
  background-color: var(--surface-color);
}

.EditorWithPreview__Header button[aria-pressed=true]{
  background-color: var(--surface-color);
}
.EditorWithPreview__Header button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}
.EditorWithPreview__Header button[disabled]:hover{
  background-color: transparent;
}

.EditorWithPreview__Editor {
  flex-grow: 1;
  flex-basis: 0;
}

.EditorWithPreview__Preview {
  flex-grow: 1;
  flex-basis: 0;
}