.App__Container {
  width: 100%;
  height: 100%;
}
.App--dark {
  --font-size-p: 1rem;
  --font-size-p2: .875rem;
  --border-radius: 3px;
  --border-radius-md: 6px;
  --primary: #a2a2a2;
  --content-color: #fff;
  --content-secondary-color: #575757;
  --surface-color: #0f0f0f;
  --background-color: #1f1f1f;
  --border-color: #333;
  --shadow-primary: inset 0 0 0 2px var(--primary);
}
.App--light {
  --font-size-p: 1rem;
  --font-size-p2: .875rem;
  --border-radius: 3px;
  --border-radius-md: 6px;
  --primary: #424242;
  --content-color: #1f1f1f;
  --content-secondary-color: #575757;
  --surface-color: #fff;
  --background-color: #f5f5f5;
  --border-color: #e0e0e0;
  --shadow-primary: inset 0 0 0 2px var(--primary);
}

