.CoreLayout__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--background-color);
  color: var(--content-color)
}
.CoreLayout__Main {
  flex-grow: 1;
}
