.Header__Container {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.Header__Button {
  appearance: none;
  outline: none;
  border: solid 2px var(--primary);
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--content-color);
  padding: 6px;
  padding-bottom: 4px;
  cursor: pointer;
}
.Header__Button:hover {
  background-color: var(--surface-color);
}
